# Ignore node_modules in all directories
node_modules/

# dotenv files
.env
.env.local

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Build outputs
dist/
build/

# IDE/editor configs
.vscode/
.idea/

Donotshare.png